// if we have bootstrap this styles don't need )

.container {
	max-width: 400px;
	margin: 0 auto;
	font-family: "Courier New", Courier, monospace;
}

.text-center {
	text-align: center;
}

.mb-1 {
	margin-bottom: 10px;
}

.w-100 {
	width: 100%;
}
